.home-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 90px;
}

.centered-logo {
  display: inline-block;
  text-align: center;
}

#home-logo {
  width: 50%;
  position: center;
}

.top-btn {
  display: flex;
  flex-direction: row;
  height: 210px;
}

.bottom-btns {
  display: flex;
  flex-direction: row;
  height: 210px;
  width: 900px;
  justify-content: space-between;
  margin-top: 0px;
}

.home-btn {
  display: inline-block;
  height: 150px;
  width: 150px;
  background-color: rgb(228, 255, 0);
  border-radius: 20px;
  font-size: 25px;
}
