body {
  background-color: rgb(0, 94, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(228, 255, 0);
}

.centered-logo {
  display: inline-block;
  text-align: center;
}

#home-logo {
  width: 50%;
  position: center;
  margin-top: -20%;
}

#users-logo {
  width: 30%;
  position: center;
}

.small-logo {
  width: 20%;
  text-align: center;
}

.ingame-score {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  font-size: 25px;
}
