.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hole-select {
  display: flex;
  align-items: center;
}

#prev-hole {
  margin-right: 48px;
}

#hole {
  font-size: 30px;
  width: 90px;
  white-space: nowrap;
}

#next-hole {
  margin-left: 48px;
}

.player-select {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.button {
  height: 70px;
  width: 70px;
  text-align: center;
  background: none;
  border: none;
}

.mps-button {
  height: 70px;
  width: 70px;
  text-align: center;
}

#back-btn {
  margin-right: 40px;
}

#player {
  font-size: 30px;
}

#next-btn {
  margin-left: 40px;
}

#current-strokes {
  margin-top: 5%;
  font-size: 50px;
}

.stroke-counter {
  margin-top: 110px;
}

#minus-stroke {
  margin-right: 50px;
  font-size: 35px;
  background: none;
  border: 2px solid white;
  color: rgb(228, 255, 0);
}

#minus-stroke:hover {
  background-color: rgba(255, 255, 255, 0.244);
  cursor: pointer;
}

#completed {
  width: 230px;
  height: 100px;
  font-size: 35px;
  text-align: center;
  background: none;
  border: 2px solid white;
  color: rgb(228, 255, 0);
}

#completed:hover {
  background-color: rgba(255, 255, 255, 0.244);
  cursor: pointer;
}

#plus-stroke {
  margin-left: 50px;
  font-size: 35px;
  background: none;
  border: 2px solid white;
  color: rgb(228, 255, 0);
}

#plus-stroke:hover {
  background-color: rgba(255, 255, 255, 0.244);
  cursor: pointer;
}
